@*//Strongly typed view file: A view that uses the @model expression*@

@model Product //model object declaration

@*This is an example of a Razor code block, which allows me to include C# statements in a view. The code 
block is opened with @{ and closed with }, and the statements it contains are evaluated when the view is 
rendered.*@
@{
	/*Layout = null*/; //null tells MVC that the view is self-contained and will render all the content required for the client
	
	//Applying Layout
	//Layout = "_BasicLayout"; //Removed after adding the value for the layout property
	ViewBag.Title = "Product Name";
}
	<div data-productid="@Model.ProductID" data-stocklevel="@ViewBag.StockLevel"> @*Usingf lazor ecpression to set values for data attribute*@
		<p>Product Name is:	@Model.Name</p>
		<p>Product Price: @($"{Model.Price:C2}")</p> @*View is responsible for formatting data sent to it by controller but not the action method*@
		<p>Stock Level: 

		@*	@switch(ViewBag.StockLevel){
				case 0:
					//@:Out of Stock //The @: Character prevent Razor from interpreting this as a C# statement
					<p>Out of Stockk</p>
					break;
				case 1:
				case 2: 
				case 3:
				//<b>Low Stock @ViewBag.StockLevel</b>
					//@: @ViewBag.StockLevel is the stock level
					<p>@ViewBag.StockLevel is stock level</p>
					break;
				default:
					@: @ViewBag.StockLevel in Stock
					break;

			}*@



		</p>
	</div>
	
